.mainHeader
	background white
	.container
		display flex
		flex-direction row
		justify-content flex-start
		align-items top
		a
			margin-right 40px
			margin-left 25px
		nav
			display flex
			flex-direction row
			justify-content flex-start
			align-items center
			a
				margin-right 60px
				&:last-child
					margin-right 0
					display flex
					flex-direction row
					justify-content flex-start
					align-items center
					img
						margin-top 6px
						margin-left -5px
					.block-triangle
						background linear-gradient(left, #ce1304, #db1a08, #e41e0a)
						height 26px
						relative top 0 left 0
						width 62px
						.triangle
							width 0
							height 0
							border-bottom 26px solid white
							border-left 8px solid transparent
							absolute top 0 right 0
						span 
							font-generator(f_lato,12px,400,white,none)
							line-height 2.15em
							margin-left 8px
							
			