.mainBanner
	background linear-gradient(left, #B11314, #E91B35, 80% black )
	height 127px
	width 100%
	.container
		display flex
		flex-direction row
		justify-content flex-start
		align-items bottom
		height 100%
		figure
			margin 0
			padding-right 120px
			img
				relative bottom -35px left 0
		.message
			background black
			relative top 0 left 0
			padding 20px 10px 10px 30px
			width 100%
			h2
				font-generator(f_lato,14px,700,white,none)
				margin 0
				line-height 2.05em
			p
				font-generator(f_lato,20px,300,white,none)
				margin 0
				line-height 1.4em
				width 650px
			.triangle
				width 0
				height 0
				border-bottom 127px solid black
				border-left 20px solid transparent
				absolute top 0 left -20px