/*
* Instalamos la libreria nib
*/
@import '../node_modules/nib'
//@import '~/webpack-practica2/node_modules/rocket-flicker/css/flicker.min.css'

/*
* cargamos nuestras fuentes
*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900')

/*
* llamamos a sus funciones de nib
*/
normalize-base()
normalize-html5()

@import '~/esika2/src/css/fonts.css'
@import 'stylus/variable'
@import 'stylus/mix'
@import 'stylus/home'
@import 'stylus/header'
@import 'stylus/mainbanner'
@import 'stylus/gallery'
@import 'stylus/product'


